@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html { @apply bg-[#0a192f]; }

  h1,
  h2 { @apply text-[#ccd6f6]; }

  p,
  li { @apply text-[#8892b0]; }

  a {
    @apply relative inline-block text-[#64ffda];
  }
  
  a::after {
    @apply absolute bottom-0 left-0 h-[2px] w-full bg-[#64ffda];
    content: '';
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
}
